body { background: #a76b41; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-user-0 { color: #517b6f; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #23265c; font-size: 19px; margin-bottom: 5px; }
.block-config-2 { color: #9ad0af; font-size: 14px; margin-bottom: 5px; }
.block-search-3 { color: #e2b11b; font-size: 12px; margin-bottom: 5px; }
.block-search-4 { color: #e09937; font-size: 14px; margin-bottom: 5px; }
.block-helper-5 { color: #b9f111; font-size: 19px; margin-bottom: 5px; }
.block-cart-6 { color: #1e243f; font-size: 17px; margin-bottom: 5px; }
.block-payment-7 { color: #c2ce3; font-size: 16px; margin-bottom: 5px; }
.block-notify-8 { color: #f01b23; font-size: 16px; margin-bottom: 5px; }
.block-user-9 { color: #1f5e16; font-size: 14px; margin-bottom: 5px; }